fastapi
uvicorn[standard]
gunicorn
SQLAlchemy
alembic
python-dotenv
python-jose[cryptography]
passlib[bcrypt]
flake8
black
psycopg2-binary
pydantic[email]
pydantic-settings
boto3
random-password-generator
mailjet-rest
sse-starlette
